body {

    margin: 0;
    min-height: 100vh;
    background: #111827;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;

}


.admin-box {

    width: 95%;
    max-width: 500px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);

}


.admin-box h1 {

    text-align: center;
    color: #6d28d9;

}


.admin-card {

    background: #f3f4f6;
    margin-top: 20px;
    padding: 18px;
    border-radius: 15px;

}


.admin-card h3 {

    margin-top: 0;
    color: #1f2937;

}


.admin-card input {

    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;

}


.admin-card button {

    width: 100%;
    margin-top: 8px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #6d28d9;
    color: white;
    font-size: 15px;

}


.admin-card button:hover {

    opacity: 0.8;

}
